$mobileS: 320px;
$mobileM: 375px;
$mobileL: 525px;
$tablet: 768px;
$laptop: 1024px;
$laptopL: 1440px;
$desktop: 2560px;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5%
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: white;
  background-image: url('../img/weatherBG.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #041a4b;

  min-height: 100vh;
  margin: 0 15px;
}